<nav class="nav-bar">
    <ul>
    <li><a href="{{ get_url(path='') }}">home</a></li>
    <li><a href="{{ get_url(path='@/projects/_index.md') }}">projects</a></li>
	<li><a href="{{ get_url(path='@/about/_index.md') }}">about</a></li>
    <li><a href="mailto:iiintangible@gmail.com">contact</a></li>
    <li><a href="https://www.etsy.com/shop/monsterporn">shop</a></li>
    <li><a href="www.tumblr.com/iiintangible"><img src="/tumb-button.png" height="22"></a></li>
    <li><a href="www.instagram.com"><img src="/insta-button.png" height="22"></a></li>
    </ul>
</nav>
