<nav class="nav-bar">
    <ul>
    <li><a href="{{ get_url(path='') }}">home</a></li>
    <li><a href="{{ get_url(path='@/projects.md') }}">projects</a></li>
	<li><a href="{{ get_url(path='@/about.md') }}">about</a></li>
    <li><a href="mailto:iiintangible@gmail.com">contact</a></li>
    <li><a href="https://www.etsy.com/shop/monsterporn">shop</a></li>
    </ul>
    <div class="nav-social-media">
        <a href="https://tumblr.com/iiintangible"><img src="/tumb-button.png" height="22"></a></li>
        <a href="https://instagram.com/iiintangiiible"><img src="/insta-button.png" height="22"></a></li>
    </div>
</nav>
