body {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 2%;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.header-top-image > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.title-nav-container {
    border-radius: 28px;
    overflow: hidden;
    margin-bottom: 2.3rem;
}

.content {
    text-align: center;
}

.header-title-no-bg > h1 {
    text-align: center;
}

.header-title {
    background-color: #aa0303;
    color: white;
    padding: 0.3rem;
    padding-top: 0.6rem;
}

.header-title > h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: #0b0b0b;
    color: white;
    padding: 0.3rem;
    margin-bottom: 10px;
}

.nav-bar ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 3rem;
}

.nav-bar li {
    font-weight: bold;
    list-style: none;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.nav-bar li > a {
    display: block;
}

.nav-bar a:link {
    text-decoration: inherit;
    color: inherit;
}

.nav-bar a:visited {
    text-decoration: inherit;
    color: inherit;
}

.nav-social-media {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.7rem;
}

.nav-social-media > a {
    display: flex;
    padding: 0.3rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery > a {
    width: 240px;
    height: 180px;
}

.content {
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .nav-bar {
        justify-content: center;
        align-items: center;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        width: fit-content;
    }
    .nav-bar li {
        margin-right: 1rem;
    }
    .nav-bar li + li {
        margin-top: 0;
    }
    .nav-social-media {
        margin: 0;
    }
}
