{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<ul>
    {% for page in paginator.pages %}
    <div class="panel">
        <div class="panel-header-group">
            <h2>
                <a href="{{ page.path }}" class="downstyle-anchor">{{ page.title }}</a>
            </h2>
            {{ page.date }}
        </div>
	<div class="panel-content">
        {{ page.content | safe }}
        </div>
    </div>
    <hr>
    {% endfor %}
</ul>
<nav class="bottom-nav">
    {% if paginator.previous %}
        <a href="{{ paginator.previous }}">&lt- Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a href="{{ paginator.next}}">Next -&gt</a>
    {% endif %}
</nav>
{% endblock content %}
