{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}
{% block preheader %}
<div class="header-top-image">
    {% set image = resize_image(path="/header.png", height=400, width=400) %}
    <img src="{{ image.url }}" alt="an anatomically correct heart displaying text that reads 'monsterporn'; another line of text reads 'art by iiintangible'"></src>
</div>
{% endblock %}
{% block header %}

{% include "include/nav.html" %}

{% endblock %}

{% block content %}
<div class="content">
{{ section.content | safe }}
</div>
<div class="gallery">
  {% set gallery = get_section(path="gallery/_index.md") %}
  {% for page in gallery.pages -%}
    {% for asset in page.assets -%}
        {%- if asset is matching("[.](jpg|png)$") -%}
          {% set image = resize_image(path=asset, width=240, height=180) %}
          <a href="{{ page.path }}">
            <img src="{{ image.url }}" />
          </a>
        {%- endif %}
    {%- endfor %}
  {%- endfor %}
</div>
{% endblock content %}
