{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<div class="gallery">
  {% set gallery = get_section(path="gallery/_index.md") %}
  {% for page in gallery.pages -%}
    {% for asset in page.assets -%}
        {%- if asset is matching("[.](jpg|png)$") -%}
          {% set image = resize_image(path=asset, width=320, height=240) %}
          <a href="{{ page.path }}">
            <img src="{{ image.url }}" />
          </a>
        {%- endif %}
    {%- endfor %}
  {%- endfor %}
</div>
{% endblock content %}
